.header{
    border: 1px solid black;
    height: 100px;
}
.nav{
    border: 1px solid black;
    height: 20px;
}
.main{
    border: 1px solid black;
    height: 400px;
    max-width: 600px;
    margin: auto;
}
.article{
    border: 1px solid red;
    margin: auto 60px;
    height: 300px;
    margin-top: 45px;
}
.aside{

    border: 1px solid blue;
    margin: auto;
    height: 45px;
    margin: auto 40px;
    margin-top: 200px;
   

}

.footer{
    border: 1px solid black;
    height: 20px;
}